@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@media only screen and (max-width: 768px) {
    .container{
        width: 375px;
    }
}

@media only screen and (min-width: 1440px) {
    .container{
        width: 1440px;
    }
}

body, h2, p {
    margin: 0;
}

body {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    text-align: center;
}

.container {
    height: 96%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    margin-bottom: 10px;
}

h2 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 21px;
    margin-bottom: 16px;
}

.modal-container, .modal-text {
    padding: 16px;
}

.modal-container {
    width: 310px;
    border-radius: 18px;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    box-shadow: 0 15px 21px -3px rgba(0, 0, 0, 0.19);
}

.modal-qr-code {
    max-width: 100%;
    border-radius: 10px;
}
